@model SpmsApp.ViewModels.InputAssessmentDetailsViewModel;
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row" style="height: 100%;">
    <div class="col-2">
        @Html.Partial("FacultySidebar")
    </div>
    <div class="col">
        <form method="POST">
            <label for="selectedCourse">Select a course:</label>
            <select name="selectedCourse">
                <option value="">Selelct a Course</option>
                @foreach (var course in Model.Courses)
                {
                    @* <option value=@course.CourseID>@course.CourseCode -
                        @Program.GetProgram(course.ProgramID).ProgramName</option> *@
                    <option value=@course.CourseID>@($"{course.CourseCode} - {course.CourseName}")</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>

        @if (Model.SelectedCourse != null)
        {
            <div class="row">
                <div class="col">Type</div>
                <div class="col">Number</div>
                <div class="col">Mark</div>
                <div class="col">Section</div>
                <div class="col">Section</div>
                <div class="col">CoID</div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <table>
                <tr class="border-bottom">
                    <th class="p-1">Type</th>
                    <th class="p-1">Number</th>
                    <th class="p-1">Mark</th>
                    <th class="p-1">Section</th>
                    <th class="p-1">Program</th>
                    <th class="p-1">CoID</th>
                    <th class="p-1"></th>
                    <th class="p-1"></th>
                </tr>
                @foreach (var assessment in Model.Assessments)
                {
                    <tr class="border-bottom hover-effect">
                        <td class="p-1">@assessment.AssessmentType</td>
                        <td class="p-1">@assessment.QuestionNumber</td>
                        <td class="p-1">@assessment.TotalMark</td>
                        <td class="p-1">@assessment.Section.SectionNumber</td>
                        <td class="p-1">@assessment.CourseOutcome.Course.Program.ProgramName</td>
                        <td class="p-1">@assessment.CourseOutcome.CoName</td>
                        <td class="p-1 btn btn-danger">Modify</td>
                        <td class="p-1 btn btn-success">Delete</td>
                    </tr>
                }
            </table>

            <form id="new-assessment-course-selector-form">
                <select id="new-assessment-course-selector">
                    <option value="">Selelct a Program</option>
                    @foreach (var course in Model.CourseList)
                    {
                        <option value=@course.CourseID>@($"{course.CourseCode} - {course.Program.ProgramName}")</option>
                    }
                </select>
                <input type="submit" class="btn btn-danger" value="Add New Assessment">
            </form>

            @* <select id="new-assessment-course-selector">

                </select>
                @Html.ActionLink("Add New Assessment", "AddNewAssessment", "Faculty", new
                {
                courseID=Model.SelectedCourse.CourseID
                },
                new
                {
                @class="btn btn-danger"
                }) *@
        }
    </div>
</div>

<style>
    .hover-effect:hover {
        background-color: grey;
    }
</style>

<script>
    document.getElementById("new-assessment-course-selector-form").addEventListener('submit', e =>
    {
        e.preventDefault();

        let course = document.getElementById("new-assessment-course-selector").value;
        if (course !== null) window.location.href = `/faculty/iad/add/${course}`;
    })
</script>