@model SpmsApp.ViewModels.InputAssessmentDetailsViewModel;
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row" style="height: 100%;">
    <div class="col-2">
        @Html.Partial("FacultySidebar")
    </div>
    <div class="col">
        <form method="POST">
            <label for="selectedCourse">Select a course:</label>
            <select name="selectedCourse">
                <option value="">Selelct a Course</option>
                @foreach (var course in Model.Courses)
                {
                    @* <option value=@course.CourseID>@course.CourseCode -
                        @Program.GetProgram(course.ProgramID).ProgramName</option> *@
                    <option value=@course.CourseID>@($"{course.CourseCode} - {course.CourseName}")</option>
                }
            </select>
            <input type="submit" value="Submit">
        </form>
        
        @if (Model.SelectedCourse != null)
        {
            foreach (var assessment in Model.Assessments)
            {
                <div class="row">Hello world</div>
            }
            @* Html.ActionLink("Add New Assessment", "AddNewAssessment", "Faculty", new {courseID=Model.SelectedCourse.CourseID});             *@
            @Html.ActionLink("Add New Assessment", "AddNewAssessment", "Faculty", new {courseID=Model.SelectedCourse.CourseID}, new {@class="btn btn-danger"})
        }
    </div>
</div>