@model SpmsApp.ViewModels.PloComparisonCourseWithSelectPlosViewModel;
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col">@Html.Partial("TopBar", Model.TopbarViewModel)</div>
</div>
<div class="row" style="height: 100%;">
    <div class="col-2">
        @Html.Partial("FacultySidebar")
    </div>
    <div class="col">
        <label>Select Starting Semester: </label>
        <select asp-items=@Html.GetEnumSelectList(typeof(SpmsApp.Models.SemesterName)) id="start-semester"></select>
        <input type="number" placeholder="Starting Year" id="start-year" required>

        <br>

        <label>Select Ending Semester: </label>
        <select asp-items=@Html.GetEnumSelectList(typeof(SpmsApp.Models.SemesterName)) id="end-semester"></select>
        <input type="number" placeholder="Starting Year" id="end-year" required>

        <br>

        <label>Select Course(s):</label>
        <select id="course" required>
            <option>Select a Course</option>
            @foreach (var course in Model.Courses)
            {
                <option value="@course.CourseID">@($"{course.CourseCode} - {course.CourseName} - {course.Program.ProgramCode}")</option>
            }
        </select>
        <button class="btn btn-primary" id="add-course-btn"><i class="fas fa-plus"></i></button>
        <p id="selected-courses"></p>

        <label>Select PLO(s):</label>
        <select id="plo" required>
            <option>Select a PLO</option>
            <option value="PLO-01">PLO-01</option>
            <option value="PLO-02">PLO-02</option>
            <option value="PLO-03">PLO-03</option>
            <option value="PLO-04">PLO-04</option>
            <option value="PLO-05">PLO-05</option>
            <option value="PLO-06">PLO-06</option>
            <option value="PLO-07">PLO-07</option>
            <option value="PLO-08">PLO-08</option>
            <option value="PLO-09">PLO-09</option>
            <option value="PLO-10">PLO-10</option>
            <option value="PLO-11">PLO-11</option>
            <option value="PLO-12">PLO-12</option>
        </select>
        <button class="btn btn-primary" id="add-plo-btn"><i class="fas fa-plus"></i></button>
        <p id="selected-plos"></p>
        <button id="submit-btn" class="btn btn-primary">Submit</button>
    </div>
</div>

<script>
    let courses = @Html.Raw(Json.Serialize(Model.Courses));
    let plos = ['PLO-01','PLO-02','PLO-03','PLO-04','PLO-05','PLO-06','PLO-07','PLO-08','PLO-09','PLO-10','PLO-11','PLO-12'];
    console.log(courses);
    let selectedCourses = [];
    let course = document.querySelector("#course");
    let selectedCourseBanner = document.getElementById("selected-courses");
    let selectedPlos = [];
    let plo = document.getElementById("plo");
    let selectedPlosBanner = document.getElementById("selected-plos");

    document.querySelector("#add-course-btn").addEventListener('click', e => {
        e.preventDefault();
        if (course.value != null && !selectedCourses.includes(course.value)) {
            selectedCourses.push(course.value);
            let c = courses.find(el => el.courseID == selectedCourses[0]);
            selectedCourseBanner.innerText = `Selected Course(s): ${c.courseName} (${c.program.programCode})`;
            for (let i = 1; i < selectedCourses.length; i++) {
                c = courses.find(el => el.courseID == selectedCourses[i]);
                selectedCourseBanner.innerText += `, ${c.courseName} (${c.program.programCode})`;
            }
        }
    });

    document.querySelector("#add-plo-btn").addEventListener('click', e => {
        e.preventDefault();
        if (plo.value != null && !selectedPlos.includes(plo.value)) {
            selectedPlos.push(plo.value);
            let pIdx = plos.findIndex(el => el === selectedPlos[0]);
            selectedPlosBanner.innerText = `Selected PLO(s): ${plos[pIdx]}`;

            for (let i = 1; i < selectedPlos.length; i++) {
                pIdx = plos.findIndex(el => el === selectedPlos[i]);
                selectedPlosBanner.innerText += `, ${plos[pIdx]}`;
            }
        }
    });

    document.getElementById("submit-btn").addEventListener('click', e => {
        
    })
</script>